# SHOPIFY_APP_URL = https://fraudgard-shopify-app.vercel.app
SHOPIFY_APP_URL = https://cf9a-2401-4900-8821-350d-184c-c7c7-834f-d737.ngrok-free.app
SHOPIFY_API_SECRET = 57dedcceb443049c5d3c45ebd8ceeb97
SHOPIFY_API_KEY = 0ff2bcf73efb9a34075b470c2fd3f098
# HOST = https://fraudgard-shopify-app.vercel.app
SHOPIFY_API_SCOPES = read_products,read_orders,write_orders,write_products
HOST = https://cf9a-2401-4900-8821-350d-184c-c7c7-834f-d737.ngrok-free.app
MONGODB_URI = "mongodb+srv://fraudguard_dev:<FraudGuard123>@cluster0.mongodb.net/fraudguard?retryWrites=true&w=majority"
DB_NAME = shopify_app